/* Format app header */
#validator-voting-comparison {
    text-align: end;
    font-size: 2em;
    font-weight: 600;
}


/* Add section border & background color */
div.css-16nc0hx.e1tzin5v1 > div:nth-child(1) > div > div > div > div:nth-child(1) > div > div:nth-child(1) > div > div:nth-child(1) > div > div:nth-child(1) > div > div:nth-child(1) > div {
    border:10px;
    padding:30px;
    border-radius:10px;
    background:#28274F;
} 


/* Add matrix chart background color */
div.css-16nc0hx.e1tzin5v1 > div:nth-child(1) > div {
    border:10px;
    border-radius:10px;
    background:#140f34;
}

/* Hide Streamlit footer  */
footer {
    display: none;
}
